<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/styles.css}">

    <title>Add Disease Examined </title>
</head>

<body>
    <!-- Navigation -->
    <div class="container menu-nav text-white" th:replace="~{fragments/navigation :: navigation}">
    </div><!-- /.navigation -->

    <div class="container">
        <div class="page-content">
            <div class="col-md-12">
                <div class="row child-padding-none">
                    <div class="col-md-4">
                        <h2 class="widget-title">Disease Examined</h2>
                    </div>
                    <!--warning-->
                    <div class="col-md-8 text-right">
                        <div class="alert alert-danger" th:text="${warning}" role="alert"></div>
                    </div>
                    <div class="divider"></div>
                </div>

                <div class="row">
                    <form method="POST" th:action="@{/diseaseExamine/edit/{id}/{id2}/{id3}/{id4}(id=${diseaseExamine.IDExamination},id2=${diseaseExamine.ID_DoctorExamination},id3=${diseaseExamine.IDPatient},id4=${diseaseExamine.nameDisease})}"  th:object="${diseaseExamine}">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Examination ID</label>
                                <p class="form-control-static" th:text="*{IDExamination}"></p>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Patient ID</label>
                                <p class="form-control-static" th:text="*{IDPatient}"></p>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Doctor Examination ID</label>
                                <p class="form-control-static" th:text="*{ID_DoctorExamination}"></p>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="nameDisease">Disease Name</label>
                                <input type="text" class="form-control" th:field="*{nameDisease}" name="nameDisease" th:placeholder="*{nameDisease}" minlength="1" required>
                            </div>
                        </div>

                        <button type="submit" class="btn-primary btn-lg btn">Update Disease</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</body>
</html>