<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/styles.css}">

    <title>Update Examination</title>
</head>

<body>
    <!-- Navigation -->
    <div class="container menu-nav text-white" th:replace="~{fragments/navigation :: navigation}">
    </div><!-- /.navigation -->

    <div class="container">
        <div class="page-content">
            <div class="col-md-12">
                <div class="row">
                    <h2 class="widget-title">Examination Details</h2>
                    <div class="divider"></div>
                </div>

                <div class="row">
                    <form method="POST" th:action="@{/examination/edit/{id}/{id2}/{id3}(id=${examination.IDExamination},id2=${examination.ID_DoctorExamination},id3=${examination.IDPatient})}"  th:object="${examination}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Doctor Examination ID</label>
                                    <p class="form-control-static" th:text="*{ID_DoctorExamination}"></p>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Patient ID</label>
                                <p class="form-control-static" th:text="*{IDPatient}"></p>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="atTime">Time</label>
                                <input type="text" class="form-control" th:field="*{atTime}" name="atTime" th:placeholder="*{atTime}" minlength="1" required>
                            </div>
                        </div>

                        <button type="submit" class="btn-primary btn-lg btn">Update Examination</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</body>
</html>