<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/styles.css}">

    <title>Update Service</title>
</head>

<body>
    <!-- Navigation -->
    <div class="container menu-nav text-white" th:replace="~{fragments/navigation :: navigation}">
    </div><!-- /.navigation -->

    <div class="container">
        <div class="page-content">
            <div class="col-md-12">
                <div class="row">
                    <h2 class="widget-title">Update Service</h2>
                    <div class="divider"></div>
                </div>
                <div class="row">
                    <form method="POST" th:action="@{/service/edit/{nameService}(nameService=${service.nameService})}" action="" th:object="${service}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Service Name</label>
                                <p class="form-control-static" th:text="*{nameService}"></p>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="price">Price</label>
                                <input type="text" class="form-control" th:field="*{price}" name="Price" minlength="1" required>
                            </div>
                        </div>

                        <button type="submit" class="btn-primary btn-lg btn">Update List</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>