<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/styles.css}">

    <title>All Diseases Examined</title>
</head>

<body>
<!-- Navigation -->
<div class="container menu-nav text-white" th:replace="~{fragments/navigation :: navigation}">
</div><!-- /.navigation -->

<div class="container">
    <div class="page-content">
        <div class="col-md-12">
            <div class="row child-padding-none">
                <div class="col-md-8">
                    <h2 class="widget-title">All Diseases Examined</h2>
                </div>
                <div class="col-md-4">
                    <!-- Search -->
                    <form class="search-form" method="post" action="#" th:action="@{/diseaseExamine/search}">
                        <div class="form-group">
                            <label for="search">
                                <input name="id" type="search" class="form-control" id="search" placeholder="Enter Patient ID" minlength="1" maxlength="4" required>
                            </label>
                        </div>
                    </form><!-- /.search -->
                </div>
                <div class="divider"></div>
            </div>
            <div class="row child-padding-none">
                <div class="col-md-4">
                    <button class="btn btn-primary"><a href="#" th:href="@{/diseaseExamine/add}"><i class="fa fa-plus"></i> New Disease</a></button>
                </div>
                <div class="col-md-8 text-right">
                    <div class="alert alert-danger" th:text="${warning}" role="alert"></div>
                </div>
            </div>
            <!-- Lists -->
            <div class="row">
                <table cellpadding="5" th:object="${diseaseExamines}" class="table table-bordered table-striped dataTable no-footer">
                    <thead>
                    <tr role="row">
                        <th>Exam. ID</th>
                        <th>Name Disease</th>
                        <th>Doctor Examination ID</th>
                        <th>Patient ID</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="diseaseExamine:${diseaseExamines}">
                            <td align="left"><label th:text="${diseaseExamine.IDExamination}"></label></td>
                            <td align="left"><label th:text="${diseaseExamine.nameDisease}"></label></td>
                            <td align="left"><label th:text="${diseaseExamine.ID_DoctorExamination}"></label></td>
                            <td align="left"><label th:text="${diseaseExamine.IDPatient}"></label></td>
                            <td class="text-center">
                                <a href="#" th:href="@{/diseaseExamine/edit/{id}/{id2}/{id3}/{id4}(id=${diseaseExamine.IDExamination},id2=${diseaseExamine.ID_DoctorExamination},id3=${diseaseExamine.IDPatient},id4=${diseaseExamine.nameDisease})}">
                                    <i class="fa fa-edit fa-lg text-info"></i></a>
                            </td>
                            <td class="text-center">
                                <a href="#" th:href="@{/diseaseExamine/delete/{id}/{id2}/{id3}/{id4}(id=${diseaseExamine.IDExamination},id2=${diseaseExamine.ID_DoctorExamination},id3=${diseaseExamine.IDPatient},id4=${diseaseExamine.nameDisease})}">
                                    <i class="fa fa-trash fa-lg text-danger"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.lists -->

        </div>
    </div>
</div>

</body>
</html>